@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
  margin: 0%;
}
header{
    background-color: #365eae;
    height: 100px;
    display: flex;
    justify-content: center;
}
header h1{
    color: #cdedff;
}
header span{
    justify-self: flex-end;
}
footer{
    background-color: #365eae;
    height: 350px;
    color: white;
    border-bottom: solid #365eae 5px;
}
section{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(109, 106, 106);
    height: 790px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
ul{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}


ul:first-child{
    border-bottom: solid 8px rgb(56, 54, 54) ;
}
table, th, td {
    border: 1px solid;
  }
   table{
      font-size: 18px;
      font-family: 'Inter', sans-serif;
  }
button {
    background-color: #365eae;
    border: none;
    color: white;
    padding: 8px 40px;
    font-size: 16px;
    cursor: pointer;
  }
@media only screen and (max-width: 768px) {
    td{
        font-size: 16px;
    }
    th:last-child{
        display: none;
    }
    td:last-child{
        display: none;
    }
    ul{
        padding-left: 0px;
    }
}